@page
@model CoreRazor.Pages.Brand.CreateModel
@{
    ViewData["Title"] = "Brand - New";
}

<!-- Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-page="Index">Brands</a>
    </li>
    <li class="breadcrumb-item active">New</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>New Brand</strong>
                        Form
                    </div>
                    <form method="post" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <label class="col-md-1 col-form-label" asp-for="@Model.brand.Name">Name</label>
                                <div class="col-md-2">
                                    <input type="text" asp-for="@Model.brand.Name" class="form-control" placeholder="Name">
                                    <span asp-validation-for="@Model.brand.Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-check-square fa-lg"></i> Save
                            </button>
                            <a asp-page="Index" class="btn btn-danger">
                                <i class="fa fa-minus-square fa-lg"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
</div>