@page
@*@model ErrorViewModel*@
@{
    ViewData["Title"] = "Access Denied";
}

<!-- Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Access Denied</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-danger">Unathorized Access Attempt</h1>

                    </div>
                    <div class="card-body">
                        <p><strong>Error Message : </strong><span style="color:red">You are not authorized to access this Page.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>